/************************************************************************************** NavBar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    height:70px;
    font-weight: 500;
  }
  
  .navbar-logo {
    font-size: 24px;
    
  }
  
  .navbar-links{
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;

  }
  .navbar-links a {
    color: #fff;
  text-decoration: none;
  padding: 0 10px; 
  }
  
  .navbar-login button {
    padding: 8px 16px;
    border: none;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
  }
  
  /* responsivenessfor NavBar*/
  @media (max-width: 768px) {
    .navbar-links,
    .navbar-login {
      display: none; /* or change to a hamburger menu */
    }
  }

  /********************************************************************************Hero section */
  .hero-section{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f196e4;
    display:flex;
    height:85vh;
    color:#333333;

  }
  
  .hero-content{
    font-weight: 800;
    margin:0 8%;
  }

  .hero-title{
    height:auto;
    margin-bottom:2%;
  }

  .hero-tagline{
    font-size: 50px;
    margin:0;
    letter-spacing: -2.6px;
  }

  .hero-description{
    font-weight: 600;
    
  }

  .hero-button{
    background-color:rgb(255, 128, 0);
    width:40%;
    height:3.5rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight:bold;
   

  }

  .hero-image{
    width:100%;
    padding:0;
  }

/****************************************************************Service Description section*/
.service-description-section{
    position: relative;
    background-color: #f7cb46;
    display: flex;
}

.service-description-section::before {
    content: '';
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height:70px;
    background-image: url("../src/assets/images/pink-yellow-wave.svg");
    background-repeat: repeat-x;
    
  }

  .design-robot{
    height:80vh;
    margin: 2% 5%;
  }

  .description{
    align-self:center;
    display:flex;
    flex-direction: column;
    margin-right:14%;
   
  }

  .description h2{
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -.8px;
    line-height: 1.3em;
    margin:0;
   
  }

  .description p{
    font-family: "Roboto", "Roboto Placeholder", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 1.7em;
  }
  /*************************************************Detailed Service Despcription*********/
  .DetailedServiceDescription{
    background-color: #f7cb46;
    padding-top:5%;
    position:relative;
  }

  .DetailedServiceDescription::before{
    content:'';
    position: absolute;
    top: -100px;
    left: 80%;
    width: 100%;
    height:300px;
    background-image: url("../src/assets/images/connection.svg");
    background-repeat:no-repeat;
  }

  .DetailedServiceDescription>h1{
    text-align: center;
    margin: 0 auto;
    font-size:3rem;
  }

  .cards-container{
    display:flex;
    justify-content: center;
    align-items:stretch;
    gap:2%;
    margin: 2% 10% 0 10%;
  }

  /****************************************Description Card*****/
  .desciption-card-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #fff;
    max-width: 25%;
    padding-bottom:3%;

  }

  .card-image{
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    width:80%;
    margin-top: 10%;;
  }

  .card-title{
    font-weight: bold;
  }

  .card-content{
    margin:5% 10% auto 10%;
  }

  /****************************************Providing services section*****/
  .providing-services-section{
    background-color: #f7cb46;
    padding:5%;
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .providing-services-section::before{
    content:'';
    position: absolute;
    top: -150px;
    width: 100%;
    height:300px;
    background-image: url("../src/assets/images/star-bubble.svg");
    background-repeat:no-repeat;
  }


  .providing-services-section > h1 {
    margin-top:0;
    font-size: 2.5rem;
  }

  .service-box{
    background-color:white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
    gap:3rem;
    width:70%;
    border:3px solid black;
    box-shadow: 0 5px 0px black;
  }
  /****************************************Providing services card section*****/
  .providing-service-card {
    width:25%;
  }

  .providing-service-card-title{
    text-align: left;
    font-size: 2.5rem;
  }

  .providing-service-card-item{
    text-align:left;
    list-style-position:inside;
  }

  .list{
    padding:0;
  }


  .class2 .providing-service-card-item{
    list-style:none;
  }

  /****************************************************membership-benefit-section**************/
  .membership-benefit-section{
    background-color: white;
    height:100vh;
    position:relative;
  }

  .membership-benefit-section::before{
      content: '';
      position: absolute;
      top: -60px;
      left: 0;
      width: 100%;
      height:70px;
      background-image: url("../src//assets/images/yellow-white-wave.svg");
      background-repeat: repeat-x;
    }

    .membership-benefit-section >h1 {
      text-align: center;
      font-size: 2.5rem;
      padding-top:5%;
      margin-bottom:5%;
    }

  .memebership-benefits-table{
    display: grid;
    gap:3rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:3 (1fr);
    margin:1% 10%;
  }
  /****************************************************membership-benefit- card section**************/
  
  .membership-benefit-card-image{
    border:2px solid black;
    border-radius: 20px;
    width:100%;
    box-shadow:0 5px 0 rgb(185, 184, 184);
    
  }

  .mebership-benefit-card-content{
    padding-right: 15%;
  }

.previous-clients {
  text-align: center;
  font-weight: 700;
  color:rgb(161, 157, 157);
  padding:4% 0;
}

.logos{
  display:flex;
  justify-content: center;
  gap:2rem;
  margin: 3% 0;
}
