/************************************************************************************** NavBar*/
*{
  font-family: "Roboto", "Roboto Placeholder", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    height:70px;
    font-weight: 500;
  }
  
  .navbar-logo {
    font-size: 24px;
    
  }
  
  .navbar-links{
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;

  }
  .navbar-links a {
    color: #fff;
  text-decoration: none;
  padding: 0 10px; 
  }
  
  .navbar-login button {
    padding: 8px 16px;
    border: none;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
  }
  
  /* responsivenessfor NavBar*/
  @media (max-width: 768px) {
    .navbar-links,
    .navbar-login {
      display: none; /* or change to a hamburger menu */
    }
  }

  /********************************************************************************Hero section */
  .hero-section{
    background-color: #f196e4;
    display:flex;
    height:85vh;
    color:#333333;

  }
  
  .hero-content{
    font-weight: 800;
    margin:0 8%;
  }

  .hero-title{
    height:auto;
    margin-bottom:2%;
  }

  .hero-tagline{
    font-size: 50px;
    margin:0;
    letter-spacing: -2.6px;
  }

  .hero-description{
    font-weight: 600;
    
  }

  .hero-button{
    background-color:rgb(255, 128, 0);
    width:40%;
    height:3.5rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight:bold;
   

  }

  .hero-image{
    width:100%;
    padding:0;
  }

/****************************************************************Service Description section*/
.service-description-section{
    position: relative;
    background-color: #f7cb46;
    display: flex;
}

.service-description-section::before {
    content: '';
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height:70px;
    background-image: url("../src/assets/images/pink-yellow-wave.svg");
    background-repeat: repeat-x;
    
  }

  .design-robot{
    height:80vh;
    margin: 2% 5%;
  }

  .description{
    align-self:center;
    display:flex;
    flex-direction: column;
    margin-right:14%;
   
  }

  .description h2{
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -.8px;
    line-height: 1.3em;
    margin:0;
   
  }

  .description p{
    font-family: "Roboto", "Roboto Placeholder", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 1.7em;
  }
  /*************************************************Detailed Service Despcription*********/
  .DetailedServiceDescription{
    background-color: #f7cb46;
    padding-top:5%;
    position:relative;
  }

  .DetailedServiceDescription::before{
    content:'';
    position: absolute;
    top: -100px;
    left: 80%;
    width: 100%;
    height:300px;
    background-image: url("../src/assets/images/connection.svg");
    background-repeat:no-repeat;
  }

  .DetailedServiceDescription>h1{
    text-align: center;
    margin: 0 auto;
    font-size:3rem;
  }

  .cards-container{
    display:flex;
    justify-content: center;
    align-items:stretch;
    gap:2%;
    margin: 2% 10% 0 10%;
  }

  /****************************************Description Card*****/
  .desciption-card-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #fff;
    max-width: 25%;
    padding-bottom:3%;

  }

  .card-image{
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    width:80%;
    margin-top: 10%;;
  }

  .card-title{
    font-weight: bold;
  }

  .card-content{
    margin:5% 10% auto 10%;
  }

  /****************************************Providing services section*****/
  .providing-services-section{
    background-color: #f7cb46;
    padding:5%;
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .providing-services-section::before{
    content:'';
    position: absolute;
    top: -150px;
    width: 100%;
    height:300px;
    background-image: url("../src/assets/images/star-bubble.svg");
    background-repeat:no-repeat;
  }


  .providing-services-section > h1 {
    margin-top:0;
    font-size: 2.5rem;
  }

  .service-box{
    background-color:white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
    gap:3rem;
    width:70%;
    border:3px solid black;
    box-shadow: 0 5px 0px black;
  }
  /****************************************Providing services card section*****/
  .providing-service-card {
    width:25%;
  }

  .providing-service-card-title{
    text-align: left;
    font-size: 2.5rem;
  }

  .providing-service-card-item{
    text-align:left;
    list-style-position:inside;
  }

  .list{
    padding:0;
  }


  .class2 .providing-service-card-item{
    list-style:none;
  }

  /****************************************************membership-benefit-section**************/
  .membership-benefit-section{
    background-color: white;
    position:relative;
  }

  .membership-benefit-section::before{
      content: '';
      position: absolute;
      top: -60px;
      left: 0;
      width: 100%;
      height:70px;
      background-image: url("../src/assets/images/yellow-white-wave.svg");
      background-repeat: repeat-x;
    }

    .membership-benefit-section >h1 {
      text-align: center;
      font-size: 2.5rem;
      padding-top:5%;
      margin-bottom:5%;
    }

  .memebership-benefits-table{
    display: grid;
    gap:3rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:repeat(3, 1fr);
    margin:1% 10%;
  }
  /****************************************************membership-benefit- card section**************/
  
  .membership-benefit-card-image{
    border:2px solid black;
    border-radius: 20px;
    width:100%;
    box-shadow:0 5px 0 rgb(185, 184, 184);
    
  }

  .mebership-benefit-card-content{
    padding-right: 15%;
  }

.previous-clients {
  text-align: center;
  font-weight: 700;
  color:rgb(161, 157, 157);
  padding:4% 0;
}

.logos{
  display:flex;
  justify-content: center;
  gap:2rem;
  margin: 3% 0;
}
/****************************************Previous Work section****/
.previous-work-section{
  background-color: #f196e4;
  position:relative;
}

.previous-work-section::before{
  content: '';
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  height:70px;
  background-image: url("../src/assets/images/white-pink-wave.svg");
  background-repeat: repeat-x;
}

.previous-work-section >h1{
  padding-top:5%;
  text-align: center;
  font-size: 3rem;
}

.previous-works-table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  margin:0 10%;
  gap:60px;

}
/************************************************************previous work card***************/
.previous-works-table > :nth-child(2){
  grid-column: span 2;
}

.previous-works-table > :nth-child(3){
  grid-column: span 2;
}

.previous-work-card{
  display:flex;
  flex-direction: column;
  justify-content:stretch;
  align-items:flex-start;
}

.previous-work-image-container{
  height:55%;
  width:100%;
  
}
.previous-work-image{
  width:100%;
  height:100%;
  object-fit: cover;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0 5px 0 rgb(89, 89, 89);
}

.previous-work-title {
  font-weight: 700;
  font-size: 2rem;
}

.Previous-work-cotent {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.7em;
  margin:0;
}
/********************************************more-examples-section*********************/

.more-examples-section{
  background-image: url("../src/assets/images/section-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
}

.black-box {
  height:15%;
  width:30%;
  background-color: black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:1%;

}

.black-box > h2 {
  color:white;
  margin:1%;
  padding-bottom:3%;
  
}

.black-box button{
  background-color: #ff8000;
  height:40%;
  width:50%;
  border-radius: 10px;
  border: 2x solid black;
  font-weight: 600;
  font-size:1rem;
}
/*******************************************************************review-section***********************/
.review-section {
  background-color: #f196e4;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}

.white-box {
  background-color: white;
  height:50%;
  width:80%;
  border:2px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rating{
  margin-bottom:1%; 
}
.review-text{
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0 15%;
  text-align: center;
  line-height: 3rem;
}

.client{
  display: flex;
  gap:10%;
  width:23%;
}


.client-name{
  font-size: 1.5rem;
  font-weight:700;
  margin:0
}
.client-company{
  font-weight: 500;
  color:rgb(158, 154, 154);
  margin:0;
  font-size: 1rem;
}
/**************************************************************pricing-section****************/
.pricing-section{
  background-color: #f7cb46;
  padding:5%;
  position:relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pricing-section::before{
  content: '';
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height:70px;
    background-image: url("../src/assets/images/pink-yellow-wave.svg");
    background-repeat: repeat-x;
  }
  /*************************************************availability-section**************/
  .availability-section{
    display:flex;
  }
  .availability-content{
    text-align: left;
    margin:8%;
  }

  .availability-content > h1{
    font-weight: 800;
    font-size: 3rem;
    margin:0;
  }

  .availability-content > p{
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .availability-content > h2{
    font-size: 1.6rem;
    font-weight: 600;
    padding: 5% 0;
  }

  .slots-available-box{
    display: flex;
    border-radius: 20px;
    border:5px solid black;
    width:fit-content;
    box-shadow: 0 5px 0 rgb(180, 178, 178);
    margin-top:10%;
  }
  .slots-number{
    background-color: white;
    color:black;
    font-size:4rem;
    font-weight: 1000;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding: 0 5%;
  }
  .slots-text{
    background-color: black;;
    color:rgb(185, 184, 184);
    font-size: 1.5rem;
    font-weight: 800;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: left;
    padding:5% 10%;
  }
  .rabbit{
    margin: 15% 0;

  }
  /******************************************************************price-section***************/
  .price-section{
    display: flex;
    justify-content: center;
    gap:8%;
    width:60%;

  }
  /******************************************************************price-card*******************/
  .price-card{
    background-color: white;
    border:3px solid black;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    text-align: left;
    width:50%;
    padding:5%;
    box-shadow:0 5px 0 #00000080;

  }

  .price-card-image{
    width:30%;
  }
  .price-card-title{
    color:rgb(51, 51, 51);
    font-size:1.5rem;
    font-weight:650;
    margin:5% 0;
  }

  .price-card-description{
    color:rgb(102, 102, 102);
    font-weight:600;
    font-size:0.9rem;
    line-height:1.5rem;
    width:80%;
    margin:0;
  }
  .price-container{
    display:flex;
    align-items: flex-end;
    gap:3%;
  }
  .price-container>h2{
    color:rgb(51, 51, 51);
    font-size: 3rem;
    font-weight:800;
    margin:0;
  }
  .monthly-price{
    display:flex;
    flex-direction: column;
  }

  .monthly-price h3{
    font-size: 0.9rem;
    color:rgb(102, 102, 102);
    font-weight:600;
    margin:0;
  }

 .extra-info{
  font-size: 0.9rem;
  color:rgb(102, 102, 102);
  font-weight:700;
  margin:0;
  padding-bottom:5%;

 }
 .price-card ul {
  list-style-type: none;
  padding-left: 0;
}
 .price-card-details{
  color:rgb(102, 102, 102);
  font-size: 0.9rem;
  line-height:1.5rem;
  font-weight: 550;
  display:flex;
  gap:3%;
  align-items: center;
 }


 .price-card-button{
  border:2px solid black;
  background-color: #99948f;
  font-size:1.2rem;
  font-weight:800;
  height:3rem;
  border-radius:10px;
  box-shadow: 0 5px 0 rgb(205, 203, 203);
 }

 .price-card-footer{
  text-align: center;
  font-weight:600;
  font-size:0.9rem;
  margin-top:10%;
 }

 /******************************************************************FAQ section********************/
 .FAQ-section{
  background-color: white;
  position:relative;
 }
 .FAQ-section>h1{
  text-align: center;
  padding-top:5%;
  font-size: 3rem;
  font-weight: 600;
  color:#413f3f;
 }

 .FAQ-section::before{
  content:'';
  background-image: url("../src/assets/images/yellow-white-wave.svg");
  height:100px;
  position:absolute;
  top:-60px;
  width:100%;
  background-repeat: repeat-x;
 }

 .FAQAccordian-area{
  border:2px solid rgb(63, 62, 62);
  margin:0 10% 10% 10%;
  border-radius: 20px;
 }

 /************************************************************FAQ Accrodian ****************************/
 .FAQAccordian-section{
  font-size: 1rem;
  font-weight: 600;
  line-height: 2rem;
  margin:0 5%;
 }
 .icon{
  color:rgb(165, 159, 159);
  transition: transform 0.3s ease-in-out;
  margin-right:1%;
}
 .rotate{
  transform: rotate(45deg);
 }

 .FAQ-question{
  color:#4d4b4b;
  border-top: 4px solid rgb(216, 214, 214);
  border-width: 70%;
  display:flex;
  align-items: center;
  padding: 2% 0;
 }
 .FAQ-answer{
  color: #6d6c6c;
  padding:0 0 2% 3%;
 }

 .FAQAccordian-section:first-child .FAQ-question  {
  border-top:none;
 }
 /**********************************************************booking section*********************/
 .booking-section{
  background-color: black;
  position:relative;
  display:flex;
  flex-direction: column;
  align-items: center;
 }
 .booking-section::before{
  content:'';
  background-image: url("../src/assets/images/white-black-wave.svg");
  position:absolute;
  top:-50px;
  width:100%;
  height:100px;
  background-repeat: repeat-x;
 }
 .booking-text{
  color:white;
  text-align: center;
 }
 .booking-text > h3{
  padding-top:3%;
  font-size:1.5rem;
  font-weight: 700;
 }

 .booking-text > p {
  font-weight: 400;
 }

 .booking-button{
  background-color: #ff8000;
  border:2px solid black;
  width:23%;
  height:3rem;
  font-size: 1.2rem;
  font-weight: 800;
  border-radius: 10px;
 }
 /*****************************************************************footer section**********************/
 .footer-section{
  background-color: black;
  color:white;
  padding: 5% 10%;
 }

 .footer-section ul{
  margin:0;
  list-style-type:none;
  padding:0;
  font-size:1.1rem;
  font-weight:500;
  line-height: 2.5rem;
 }

 .super-hello-mini-logo{
  width:9%;
 }
 .copy-right{
  border-top:1px solid #99948f;
  border-width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top:5%;
 }
